### Reading in the csv I made in the `geocoding.ipynb` here again

In [1]:
import pandas as pd

In [15]:
#importing original dataframe with cities and AQI
df = pd.read_csv("data/aqi-sans-coords.csv")

In [16]:
# importing coords data from `geocoding.ipynb`
new_df = pd.read_csv("data/city_coords.csv")
new_df = new_df.rename(columns={"city" : "City"})
new_df

              City        Lat        Lng
0             Agra  27.176670  78.008074
1        Ahmedabad  23.022505  72.571362
2       Ahmednagar  19.094829  74.747979
3           Aizawl  23.730718  92.717311
4            Ajmer  26.449895  74.639916
..             ...        ...        ...
237          Virar  19.456360  72.792461
238  Visakhapatnam  17.697380  83.299025
239      Vrindavan  27.565009  77.659339
240         Yadgir  16.748739  77.130872
241   Yamuna Nagar  30.129048  77.267390

[242 rows x 3 columns]

### Merging the files with the original AQI dfs, so it has Cities and Coordinates

In [17]:
merged_df = pd.merge(df, new_df, on="City", how="left")

#Renaming the df for easier use
df = merged_df

#Verifying count of cities
len(df['City'])

242

### Saving this as a new csv. This one will be used to power the datawrapper chart.

In [18]:
df

,S.No,City,Air Quality,Index\nValue,Prominent Pollutant,No. of Stations\nParticipated/\nTotal Stations,Lat,Lng
0,1,Agra,Moderate,107,PM10,5/6,27.176670,78.008074
1,2,Ahmedabad,Moderate,124,"PM10, NO2",8/9,23.022505,72.571362
2,3,Ahmednagar,Satisfactory,82,PM10,1/1,19.094829,74.747979
3,4,Aizawl,Satisfactory,56,PM2.5,1/1,23.730718,92.717311
4,5,Ajmer,Moderate,114,PM10,1/1,26.449895,74.639916
...,...,...,...,...,...,...,...,...
237,238,Virar,Satisfactory,80,PM10,1/1,19.456360,72.792461
238,239,Visakhapatnam,Poor,230,PM2.5,1/1,17.697380,83.299025
239,240,Vrindavan,Good,37,PM10,1/1,27.565009,77.659339
240,241,Yadgir,Moderate,128,PM2.5,1/1,16.748739,77.130872
241,242,Yamuna Nagar,Satisfactory,91,PM10,1/1,30.129048,77.267390

In [19]:
df.to_csv('data/final_aqi.csv', index=False)