### Reading in the csv I made in the `geocoding.ipynb` here again

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("data/city_coords.csv")
df = df.rename(columns={"city" : "City"})
df

              City        Lat        Lng
0             Agra  27.176670  78.008074
1        Ahmedabad  23.022505  72.571362
2       Ahmednagar  19.094829  74.747979
3           Aizawl  23.730718  92.717311
4            Ajmer  26.449895  74.639916
..             ...        ...        ...
237          Virar  19.456360  72.792461
238  Visakhapatnam  17.697380  83.299025
239      Vrindavan  27.565009  77.659339
240         Yadgir  16.748739  77.130872
241   Yamuna Nagar  30.129048  77.267390

[242 rows x 3 columns]

### Merging the files with the original AQI dfs, so it has Cities and Coordinates

In [ ]:
merged_df = pd.merge(df, new_df, on="City", how="left")

#Renaming the df for easier use
df = merged_df

#Verifying count of cities
len(df['City'])

### Saving this as a new csv. This one will be used to power the datawrapper chart.

In [ ]:
df.to_csv('data/final_aqi.csv', index=False)